#blacklight_nearby_items_container {
	margin-bottom: 10px;
  #blacklight_nearby_items_controls {
		text-align: center;
	}
	#blacklight_nearby_items .item {
		padding:2px;
		margin: 2px 0;
		border:1px solid #CCCCCC;
	}
}