<div id="blacklight_nearby_items_controls" class="row">
  <div class="span1">
    <%= link_to(t('blacklight_browse_nearby.short_view.previous'), nearby_index_path(params.merge(:id=>nil, :action=> nil, :controller=>nil, :format => nil, :start=>(params[:id] || params[:start]), :page=>params[:page].to_i-1)), :class=>"navigation") %>
  </div>
  <div class="span1">
    <%= link_to(t('blacklight_browse_nearby.short_view.full_view'), nearby_index_path(:preferred_value=> @nearby.current_value , :start=>(params[:id] || params[:start]), :per_page=>BlacklightBrowseNearby::Engine.config.full_view_default_hits)) %>
  </div>
  <div class="span1">
    <%= link_to(t('blacklight_browse_nearby.short_view.next'), nearby_index_path(params.merge(:id=>nil, :action=> nil, :controller=>nil, :format => nil, :start=>(params[:id] || params[:start]), :page=>params[:page].to_i+1)), :class=>"navigation") %>
  </div>
</div>